

<ul>
  <% @bookmark_urls.each do |bookmark| %>
    <li><%= bookmark %></li>
  <% end %>
</ul>

<form method="post" action="create">
	<label>Add a new bookmark: </label>
	<input type="text" name="bookmark">
	<input type="submit" name="Add" id="Add">
</form>
